.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10vw;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
    border: 1px solid #767676;
    font-size: 16px;
}

.counter-text {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    font-weight: bold;
}